Main/Lang_Czech.txt    text working-tree-encoding=cp1250 eol=crlf
Main/Lang_French.txt   text working-tree-encoding=iso-8859-1 eol=crlf
Main/Lang_German.txt   text working-tree-encoding=iso-8859-1 eol=crlf
Main/Lang_Italian.txt  text working-tree-encoding=iso-8859-1 eol=crlf
Main/Lang_Polish.txt   text working-tree-encoding=cp1250 eol=crlf
Main/Lang_Russian.txt  text working-tree-encoding=cp1251 eol=crlf
Main/Lang_Spanish.txt  text working-tree-encoding=iso-8859-1 eol=crlf